@model Models.Entities.Reservation

<div class="form-group">
    @Html.TextBoxFor(x => x.Id, new {@class = "form-control", type = "hidden"})
</div>

<div class="form-group">
    @Html.TextBoxFor(x => x.Reserver, new {@class = "form-control", type = "hidden"})
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Schedules)
    @Html.TextBoxFor(x => x.Description, new {@class = "form-control", type = "text", placeholder = "Enter description", required = "required"})
</div>